{% extends 'layout.html' %}

{% block content %}
<div class="nk-block-head nk-block-head-sm">
	<div class="nk-block-between">
		<div class="nk-block-head-content">
			<h3 class="nk-block-title page-title">Normalisasi Bahasa Makassar</h3>
			<div class="nk-block-des text-soft">
				<p></p>
			</div>
		</div>
		<div class="nk-block-head-content"></div><!-- .nk-block-head-content -->
	</div>
</div>
<div class="nk-block nk-block-lg">
	<div class="card card-info">
		<div class="card-header"></div>
		<div class="card-body">
			<form method="post" action="{% url 'normalisasi/normalize' %}" accept-charset="utf-8">
				{% csrf_token %}

				<div class="input-group">
					<input required type="text" name="inputan" id="inputan" value="" placeholder="Input minimal 1 kata" class="form-control">
					<span class="input-group-btn">
						<button type="submit" class="btn btn-primary">submit</button>

					</span>
				</div>
			</form>
		</div>
	</div><!-- .card-preview -->
</div>
{% endblock content %}

